.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 32px;
}
.logo__wlG:global(.__wab_instance) {
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.navigationLinks {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.navigationLinks > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.navigationLinks > :global(.__wab_flex-container) > *,
.navigationLinks > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigationLinks > :global(.__wab_flex-container) > picture > img,
.navigationLinks
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
