.authForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.authForm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.authForm > :global(.__wab_flex-container) > *,
.authForm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.authForm > :global(.__wab_flex-container) > picture > img,
.authForm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ecJoZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5LgWl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___60O5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rHGwx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rvnjL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ffjkU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
