.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 0;
}
.freeBox___2MGx8 {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.freeBox___2MGx8 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2MGx8 > * {
    grid-column: 4;
  }
}
.freeBox__hC0A6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hC0A6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hC0A6 > :global(.__wab_flex-container) > *,
.freeBox__hC0A6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hC0A6 > :global(.__wab_flex-container) > picture > img,
.freeBox__hC0A6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__jCBjL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__jCBjL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jCBjL > :global(.__wab_flex-container) > *,
.freeBox__jCBjL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jCBjL > :global(.__wab_flex-container) > picture > img,
.freeBox__jCBjL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__un0Eu:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wmifz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xcb2G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___7WeRo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nrLWh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rzicq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.logo:global(.__wab_instance) {
  position: relative;
}
.button___8Hxq2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__civZd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__d2Sjg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___4Svxd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ynLm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__p3Q5R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__pUbvb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__trKdE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hRfMg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
